@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  margin: 0 auto;
}

.container {
  margin-bottom: 2em;
}
